<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MyFFB.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
		  <environmentVariables>
			<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
		  </environmentVariables>	  
	  </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 19bfcabc-5bc1-4e15-9057-52caa2a0f223-->