@{
    ViewData["Title"] = "Tentang Kami";
}

<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>

<section class="content container-fluid">
    <div class="box">
        <div class="box-body">
            <h4>FFB SYSTEM</h4>
            <strong>version:</strong> 1.0.0<br />
            <p>Copyright &copy; 2022 - IT Asian Agri.</p>
        </div>
    </div>
</section>
