@{
    ViewData["Title"] = "Kontak";
}

<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>

<section class="content container-fluid">
    <div class="box">
        <div class="box-body">
            <h4>IT Asian Agri</h4>

            <address>
                <strong>Support:</strong>   <a href="mailto:yusrinal@globalnet.lcl">yusrinal@globalnet.lcl</a><br />
                Medan, Jl. Let. Jend. MT.Haryono<br />
                <abbr title="Phone">P:</abbr>
                +62 61 4532 115 / 388 / 532
            </address>
        </div>
    </div>
</section>

