@{
    ViewData["Title"] = "Dashboard";
}

<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>

<section class="content container-fluid">
    <div class="box">
        <div class="box-body">
            Welcome to FFB SYSTEM
        </div>
    </div>
</section>

